:host {
  display: block;
  padding: 0.5rem;
  width: 100%;
  height: 100%;
}

:host:hover {
  cursor: pointer;
  outline: 2px dashed #c8c8c8;
}

input {
  width: 100%;
  height: 100%;
  padding: 0;
  border:0;
}

.placeholder {
  color: grey;
}
